<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Local Live Music</h1>
                    <p class="intro-text"> Click below to find shows in San Francisco</p>
                    <a href="#go" class="btn btn-circle page-scroll" id="show-map">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                     </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div id='map'>
</div>